extends layout

block content
 main
  .container-fluid.pt-5
    .row
      .col-sm-12
        #inam.carousel.slide(data-ride='carousel')
          .carousel-inner
            .carousel-item.active
              .container
                .row
                  .col-lg-2.col-md-3.col-sm-12.col-12
                    .card
                      img.card-img-top(src='images/book1.jpg')
                      button.btn.btn-warning(type='button') Visit Collection
                      .card-body
                        p.card-text Best sellers
                  .col-lg-2.col-md-3.col-sm-12.col-12
                    .card
                      img.card-img-top(src='images/book1.jpg')
                      button.btn.btn-warning(type='button') Visit Collection
                      .card-body
                        p.card-text psychology Books
                  .col-lg-2.col-md-3.col-sm-12.col-12
                    .card
                      img.card-img-top(src='images/book1.jpg')
                      button.btn.btn-warning(type='button') Visit Collection
                      .card-body
                        p.card-text  Fiction
                  .col-lg-2.col-md-3.col-sm-12.col-12
                    .card
                      img.card-img-top(src='images/book1.jpg')
                      .card-body
                        p.card-text CHANNEL Collection
                        button.btn.btn-warning(type='button') Visit Collection
                  .col-lg-2.col-md-3.col-sm-12.col-12
                    .card
                      img.card-img-top(src='images/book1.jpg')
                      .card-body
                        p.card-text CHANNEL Collection
                        button.btn.btn-warning(type='button') Visit Collection
                  .col-lg-2.col-md-3.col-sm-12.col-12
                    .card
                      img.card-img-top(src='images/book1.jpg')
                      .card-body
                        p.card-text CHANNEL Collection
                        button.btn.btn-warning(type='button') Visit Collection
            .carousel-item
              .container
                .row
                  .col-lg-2.col-md-3.col-sm-12.col-12
                    .card
                      img.card-img-top(src='images/book1.jpg')
                      button.btn.btn-warning(type='button') Visit Collection
                      .card-body
                        p.card-text Handcraft collection
                  .col-lg-2.col-md-3.col-sm-12.col-12
                    .card
                      img.card-img-top(src='images/book1.jpg')
                      button.btn.btn-warning(type='button') Visit Collection
                      .card-body
                        p.card-text Handcraft collection
                  .col-lg-2.col-md-3.col-sm-12.col-12
                    .card
                      img.card-img-top(src='images/book1.jpg')
                      button.btn.btn-warning(type='button') Visit Collection
                      .card-body
                        p.card-text Handcraft collection
                  .col-lg-2.col-md-3.col-sm-12.col-12
                    .card
                      img.card-img-top(src='images/book1.jpg')
                      button.btn.btn-warning(type='button') Visit Collection
                      .card-body
                        p.card-text Handcraft collection
                  .col-lg-2.col-md-3.col-sm-12.col-12
                    .card
                      img.card-img-top(src='images/book1.jpg')
                      button.btn.btn-warning(type='button') Visit Collection
                      .card-body
                        p.card-text Handcraft collection
                  .col-lg-2.col-md-3.col-sm-12.col-12
                    .card
                      img.card-img-top(src='images/book1.jpg')
                      button.btn.btn-warning(type='button') Visit Collection
                      .card-body
                        p.card-text Handcraft collection
          a.carousel-control-prev(href='#inam', data-slide='prev')
            span.carousel-control-prev-icon
          a.carousel-control-next(href='#inam', data-slide='next')
            span.carousel-control-next-icon
  br
  .container
    .row.pt-5
      .col-md-6.col-12
        #serviceback
          h4  Old Music Records 
          hr
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.   ipsum dolor sit amet consectetur adipisicing elit. Labo Laboriosam architecto error dolores molestiae harum aliquid cupiditate facere ratione mollitia velit minima alias facilis, similique veniam quae iure maiores blanditiis perspiciatis.
          hr
          button.btn.btn-block(style=' background-color: brown;color:white;border:1px solid black')  Discover  now
      .col-md-6.col-12
        div
          img#imgservice(width='100%', style='border:2px solid goldenrod', src='images/classical.jpeg')
    br
    hr
    br
    .row
      .col-md-6.col-12
        div
          img#imgservice(width='100%', style='border:2px solid brown', src='images/music.jpg')
      #repair.col-md-6.col-12
        #serviceback
          h2  Clasic Music 
          hr
          p
            | Lorem ipsum dolor sit amet,. hitecto error doliae harum aliquid cupidit imili  sicing elit. hitecto error doliae harum aliquid cupidit imilique veniam quae iure maiores blanditiis perspiciatis.
          hr
          button.btn.btn-block(style=' background-color: brown;color:white;border:1px solid black')  Discover  now
    br
    hr
    br
    .row
      #appraise.col-md-6.col-12
        #serviceback
          h4  Documantary Movie 
          hr
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam p
            | ariatur hic cum unde quaerat deleniti, commodi vero neque possimus dolorum
            | officiis! Error illo dolore nesciunt, quisquam vel natus in commodi!
          hr
          button#appraisebtn.btn.btn-block(style='background-color: brown; border:1px solid black') WANT TO KNOW
      .col-md-6.col-12
        div
          img#imgservice(width='100%', style='border:2px solid goldenrod', src='images/documentary.png')
    br
    hr
    br
